/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --background-color: #f5f5f5;
  --second-background-color: #eaf2fd;
  --cards-colors: #ffffff;
  --link-color: #000;
  --font-color: #464646;
  --button-color: #2a7ae4;
  --font-family: "Raleway";
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--font-color);
}

.margin-auto {
  margin: auto;
}

.secondary-title {
  font-weight: 700;
  font-size: 32px;
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu {
  display: flex;
  max-width: calc(75rem);
  padding: 1.5em 0;
}

.menu__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__title {
  align-items: center;
  display: flex;
}

.menu__header img {
  margin-right: 10px;
}

.menu__list {
  display: flex;
  list-style: none;
  gap: 2em;
}

.menu__list li:last-child {
  font-weight: 700;
}

.menu__list__item {
  margin-left: 10px;
}

/*Sessão Title*/

section.title {
  max-width: calc(75rem);
  display: flex;
  justify-content: center;
  padding: 3em 0;
}

.title__div {
  display: flex;
  flex-direction: row-reverse;
  gap: 1%;
}

.title__profile {
  height: 368px;
  width: 368px;
}

.title__container {
  display: flex;
  flex-direction: column;
  padding: 1% 0%;
}

.title__bio {
  font-weight: 700;
  font-size: 52px;
}

.title__subsection {
  font-weight: 400;
  font-size: 22px;
  line-height: 1em;
}

.title__network {
  display: flex;
  font-weight: 500;
  gap: 6%;
  padding-top: 1em;
}

/*Sessão About*/

section.about {
  background-color: var(--second-background-color);
  display: flex;
  justify-content: center;
  padding: 3em 0;
}

.about__container {
  max-width: calc(75rem);
}

.about__title {
  font-weight: 700;
  font-size: 32px;
}

.about__paragraph {
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  max-width: 65%;
}

/* Sessão Skills e Hobbies */

section.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}
section.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
}
.skills__line,
.hobbies__line {
  max-width: calc(75rem);
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;
  gap: 2.1rem;
  flex-wrap: wrap;
}
.skills__box,
.hobbies__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  height: 140px;
  width: 140px;
  padding: 1rem;
  background-color: var(--cards-colors);
}

.skills__name,
.hobbies__name {
  font-weight: 700;
  margin-top: 0.5em;
}

/* Experiência Acadêmica*/

section.academic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 5em;
  background-color: var(--second-background-color);
}

.academic__courses {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: calc(75rem);
}

.academic__courses__box__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 286px;
  width: 390px;
  background-color: var(--cards-colors);
  margin-bottom: 1em;
}

.academic__courses__box__logo__img {
  height: 45%;
}

.academic__courses__box__title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0.5em;
}

.academic__courses__box__subtitle {
  font-weight: 500;
}

/* experiência*/

section.experience {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 0;
}

.experience__title {
  font-weight: 700;
  font-size: 22px;
}

.experience__text {
  font-weight: 500;
  font-size: 16px;
}

.experience__container {
  width: 100%;
  max-width: calc(75rem);
}
.experience__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0;
}

.experience__box:nth-child(2n) {
  flex-direction: row-reverse;
}

.experience__img {
  display: flex;
  width: 800px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.experience__button {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.experience__description {
  display: flex;
  gap: 1em;
}

.experience__button--repo {
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

.experience__button--demo {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  color: rgb(255, 255, 255);
}

/*Contato*/

section.formcontato {
}

/*footeer*/

section.footer {
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Expeirência profissional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
